/* Login.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    height: 100%;

    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }
  
  .login-form {
    background-color: #f0f0f0;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; /* Adjust width as needed, or use max-width for better responsiveness */
    max-width: 1000px; /* Example max-width */
    text-align: center;
   
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: calc(100% - 20px); /* Adjust width calculation if padding changes */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Ensures padding is included in width */
  }
  
  .login-button, .google-sign-in-button {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
  }
  
  .google-sign-in-button {
    background-color: #db4437;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
  }
  
  .google-sign-in-button:hover {
    background-color: #c1351d;
  }
  